#menu {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
}

#logo {
  width: 30%;
}

#logo img {
  width: 100%;
  height: 100%;
}

#nombre {
  width: 40%;
}

#navegacion {
  width: 30%;
}

.carousel {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 100%;
  overflow: hidden;
  display: flex;
}

#tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
  padding-right: 1vw;
  margin-left: 10%;
  margin-right: 10%;
}

.tar {
  width: 275px;
  height: 200px;
  color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px 0;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  min-height: 10vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  width: 6vw;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px 0;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  min-height: 10vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.group {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  padding-right: 1vw;
  will-change: transform;
  animation: scrolling 20s linear infinite;
}
.group > :nth-child(1) {
  background-image: url("../RECURSOS/imagen1.jpg");
}
.group > :nth-child(2) {
  background-image: url("../RECURSOS/imagen2.jpg");
}
.group > :nth-child(3) {
  background-image: url("../RECURSOS/imagen3.jpg");
}
.group > :nth-child(4) {
  background-image: url("../RECURSOS/imagen4.jpg");
}
.group > :nth-child(5) {
  background-image: url("../RECURSOS/imagen5.jpg");
}
.group > :nth-child(6) {
  background-image: url("../RECURSOS/imagen6.jpg");
}
.group > :nth-child(7) {
  background-image: url("../RECURSOS/imagen7.jpg");
}
.group > :nth-child(8) {
  background-image: url("../RECURSOS/imagen8.jpg");
}
.group > :nth-child(9) {
  background-image: url("../RECURSOS/imagen9.jpg");
}
.group > :nth-child(10) {
  background-image: url("../RECURSOS/imagen10.jpg");
}
.group > :nth-child(11) {
  background-image: url("../RECURSOS/imagen11.jpg");
}
.group > :nth-child(12) {
  background-image: url("../RECURSOS/imagen12.jpg");
}
.group > :nth-child(13) {
  background-image: url("../RECURSOS/imagen13.jpg");
}
.group > :nth-child(14) {
  background-image: url("../RECURSOS/imagen14.jpg");
}
.group > :nth-child(15) {
  background-image: url("../RECURSOS/imagen15.jpg");
}
.group > :nth-child(16) {
  background-image: url("../RECURSOS/imagen16.jpg");
}
.group > :nth-child(17) {
  background-image: url("../RECURSOS/imagen17.jpg");
}
.group > :nth-child(18) {
  background-image: url("../RECURSOS/imagen18.jpg");
}
.group > :nth-child(19) {
  background-image: url("../RECURSOS/imagen19.jpg");
}
.group > :nth-child(20) {
  background-image: url("../RECURSOS/imagen20.jpg");
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.carousel:hover .group {
  animation-play-state: paused;
}

/*# sourceMappingURL=styles.css.map */
